@model webBanHang.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    dt{
        color:red
    }
    dd{
        color:black
    }
</style>
<h2>Chi tiết</h2>

<div>
    <h4>KHÁCH HÀNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên Đăng Nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
           Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
           Điện Thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
           Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
           Loại Tài Khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Phone }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
