@model webBanHang.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="color:black">
        <dt>
            @Html.DisplayNameFor(model => model.Catalogy.CataName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogy.CataName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProImage)
        </dt>

        <dd>
            @{
                string ImagePath = "~/wwwroot/images/" + Model.ProImage;
            }
            <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
            <br />
            @Html.DisplayFor(model => model.ProImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfImport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfImport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ProID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
