@model IEnumerable<webBanHang.Models.Product>



@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .content_img {
        position: relative;
    }

        .content_img a {
            position: absolute;
            top: 0%;
            left: 30%;
            transform: translate(0%, 0%);
            opacity: 0;
            font-size: 25px;
            color: blue;
            background-color: floralwhite;
            border: none;
            height: 30px;
        }

    .content_item:hover a {
        transform: translate(0%, 350%);
        opacity: 1;
        transition: 1s;
    }
</style>




<div class="container">
    <div class="content_HeaderImg">
        <img src="~/wwwroot/images/anhBackGround.jpeg" width="1050" height="600" />
    </div>
    <!-- list product -->
    <div class="content_products">
        <h2>SẢN PHẨM BÁN CHẠY</h2>
        <div class="content_list">
            @foreach (var item in Model)
            {

                <div class="content_item">
                    <div class="content_img">
                        @{
                            string ImagePath = "~/wwwroot/images/" + item.ProImage;
                        }
                        <img src="@Url.Content(ImagePath)" width="100" height="200" class="img-thumbnail" />
                        <a href="@Url.Action("ThemGioHang", "Giohang", new { @class="addCart", @sMaSP = item.ProID, @strURL = Request.Url.ToString() })">
                            Đặt mua
                        </a>
                    </div>
                    <div class="content_detail">
                        <span class="category">@Html.DisplayFor(modelItem => item.Catalogy.CataName)</span><br />
                        <span class="name">@Html.DisplayFor(modelItem => item.ProName)</span><br />
                        <span class="price">@Html.DisplayFor(modelItem => item.Price)đ</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="content_products">
        <h2>THỊT CÁ DÂN DÃ</h2>
        <div class="content_list">
            @foreach (var item in Model)
            {
                if (item.ID == "Loai1")
                {
                    <div class="content_item">
                        <div class="content_img">
                            @{
                                string ImagePath = "~/wwwroot/images/" + item.ProImage;
                            }
                            <img src="@Url.Content(ImagePath)" width="100" height="200" class="img-thumbnail" />
                            <a href="@Url.Action("ThemGioHang", "Giohang", new { @class="addCart", @sMaSP = item.ProID, @strURL = Request.Url.ToString() })">
                                Đặt mua
                            </a>
                        </div>
                        <div class="content_detail">
                            <span class="category">@Html.DisplayFor(modelItem => item.Catalogy.CataName)</span><br />
                            <span class="name">@Html.DisplayFor(modelItem => item.ProName)</span><br />
                            <span class="price">@Html.DisplayFor(modelItem => item.Price)đ</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="content_products">
        <h2>TRÁI CÂY</h2>
        <div class="content_list">
            @foreach (var item in Model)
            {
                if (item.ID == "Loai2")
                {
                    <div class="content_item">
                        <div class="content_img">
                            @{
                                string ImagePath = "~/wwwroot/images/" + item.ProImage;
                            }
                            <img src="@Url.Content(ImagePath)" width="100" height="200" class="img-thumbnail" />
                            <a href="@Url.Action("ThemGioHang", "Giohang", new { @class="addCart", @sMaSP = item.ProID, @strURL = Request.Url.ToString() })">
                                Đặt mua
                            </a>
                        </div>
                        <div class="content_detail">
                            <span class="category">@Html.DisplayFor(modelItem => item.Catalogy.CataName)</span><br />
                            <span class="name">@Html.DisplayFor(modelItem => item.ProName)</span><br />
                            <span class="price">@Html.DisplayFor(modelItem => item.Price)đ</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="content_products">
        <h2>RAU HỮU CƠ</h2>
        <div class="content_list">
            @foreach (var item in Model)
            {
                if (item.ID == "Loai3")
                {
                    <div class="content_item">
                        <div class="content_img">
                            @{
                                string ImagePath = "~/wwwroot/images/" + item.ProImage;
                            }
                            <img src="@Url.Content(ImagePath)" width="100" height="200" class="img-thumbnail" />
                            <a href="@Url.Action("ThemGioHang", "Giohang", new { @class="addCart", @sMaSP = item.ProID, @strURL = Request.Url.ToString() })">
                                Đặt mua
                            </a>
                        </div>
                        <div class="content_detail">
                            <span class="category">@Html.DisplayFor(modelItem => item.Catalogy.CataName)</span><br />
                            <span class="name">@Html.DisplayFor(modelItem => item.ProName)</span><br />
                            <span class="price">@Html.DisplayFor(modelItem => item.Price)đ</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <!-- logo -->
    <div class="content_logos">
        <div class="content_logo">
            <div class="content_logo_img">
                <img src="~/wwwroot/images/logo1.png" alt="logo" />
            </div>
            <div class="content_logo_detail">
                <h4>Hàng tươi sạch</h4>
                <span>
                    Quy trình nhập hàng, vận chuyển và bảo quản chuyên nghiệp
                </span>
            </div>
        </div>
        <div class="content_logo">
            <div class="content_logo_img">
                <img src="~/wwwroot/images/logo2.png" alt="logo" />
            </div>
            <div class="content_logo_detail">
                <h4>Đổi trả miễn phí</h4>
                <span>
                    Đổi trả miễn phí trong 24h khi khách hàng không hài lòng
                </span>
            </div>
        </div>
        <div class="content_logo">
            <div class="content_logo_img">
                <img src="~/wwwroot/images/logo3.png" alt="logo" />
            </div>
            <div class="content_logo_detail">
                <h4>GIÁ CẢ CẠNH TRANH</h4>
                <span> Luôn đặt lợi ích cho người tiêu dùng lên hàng đầu. </span>
            </div>
        </div>
    </div>
</div>

