@model webBanHang.Models.HoaDon

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hóa đơn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.Phone, "UserName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:black">
                @Html.DropDownList("Phone", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.ngayDayHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:black">
                @Html.EditorFor(model => model.ngayDayHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngayDayHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.MaKhuyenMai, "MaKhuyenMai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:black">
                @Html.DropDownList("MaKhuyenMai", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaKhuyenMai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.NoiNhanHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:black">
                @Html.EditorFor(model => model.NoiNhanHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoiNhanHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.ThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" style="color:black">
                    @Html.EditorFor(model => model.ThanhToan)
                    @Html.ValidationMessageFor(model => model.ThanhToan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.GiaoHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" style="color:black">
                    @Html.EditorFor(model => model.GiaoHang)
                    @Html.ValidationMessageFor(model => model.GiaoHang, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}