@model PagedList.IPagedList<webBanHang.Models.HoaDon>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hóa Đơn</h2>

<p>
    @Html.ActionLink("Thêm mới hóa đơn", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Tìm hóa đơn theo tên: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<table class="table">
    <tr style="color:red">
        <th>
            @Html.ActionLink("Mã hóa đơn", "Index", new { sortOrder = ViewBag.SapTheoID, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Tên khách hàng", "Index", new { sortOrder = ViewBag.SapTheoTen, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Khuyến mại
        </th>
        <th>
            @Html.ActionLink("Ngày đặt hàng", "Index", new { sortOrder = ViewBag.SapTheoNgay, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Nơi nhận hàng
        </th>
        <th>
            Thanh toán
        </th>
        <th>
            Giao hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                <a href="@Url.Action("Index", "ChiTietHoaDons", new { maHD = item.MaHD })">
                    @Html.DisplayFor(modelItem => item.MaHD)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai.MaKhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayDayHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiNhanHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaoHang)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaHD }) |
                @Html.ActionLink("Chi tiết", "Index", "ChiTietHoaDons", new { maHD = item.MaHD }, new { }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaHD })
            </td>
        </tr>
    }

</table>
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))
